<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhtQ2QFfU5AmTwar3VmBVs6fmBiGQwxAM</string>
	<key>GCM_SENDER_ID</key>
	<string>754238025873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notiExample</string>
	<key>PROJECT_ID</key>
	<string>noti-example-201e3</string>
	<key>STORAGE_BUCKET</key>
	<string>noti-example-201e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754238025873:ios:4fc96d42e419b1d4194f30</string>
</dict>
</plist>